<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Autenticación</title>
    </head>
    <body>
        <div id="app" :class = "['container md-3']">
            <h1 :class="['display-1']">Autenticación</h1>

            <form>
                <div :class="['form-group']">
                    <label for="firstName">First Name</label>
                    <input :class="['form-control']" type="text" v-model="firstName">
                    <label for="lastName">Last Name</label>
                    <input :class="['form-control']" type="text" v-model="lastName">
                    <label for="username">Username</label>
                    <input :class="['form-control']" type="text" v-model="username">
                    <label for="password">Password</label>
                    <input :class="['form-control']" type="text" v-model="password">
                </div>
            </form>
            <div :class="['row justify-content-center']">
                <div :class="['col-3']">
                    <button :class="['btn btn-primary']" @click="postREST">Registrar con REST</button>
                </div>
                <div :class="['col-3']">
                        <button :class="['btn btn-primary']" @click="postGraphQL">Registrar con GraphQL</button>
                </div>
            </div>
            <div v-if="respuesta" :class="[fondoRespuesta, 'row align-items-center']">
                {{textoRespuesta}}
            </div>
        </div>

        <!--scripts-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>